header span {
    font-family: "ElegantIcons";
    
}
.top-header {
    font-size: 1.2rem;
    font-weight: 600;
    padding-top: 10px;
    padding-bottom: 10px;
    .border-bottom();
    .mail {
        text-align: center;
        display:block;
        
    }
    ul  {
        display: none;
    }
}

.main-header {
    height: 75px;
    .border-bottom();
    .flex(row, space-around, center);
    
    .logo img{
        height: 40px;
    }

    nav {
        .flex();
        ul {
            display: none;
        }
    }
    
}