/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  box-sizing: border-box;
  font-size: 67.5%;
}
@font-face {
  font-family: 'ElegantIcons';
  src: url('/assets/fonts/elegant_font/HTML\ CSS/fonts/ElegantIcons.eot');
  src: url('/assets/fonts/elegant_font/HTML\ CSS/fonts/ElegantIcons.eot?#iefix') format('embedded-opentype'), url('/assets/fonts/elegant_font/HTML\ CSS/fonts/ElegantIcons.woff') format('woff'), url('/assets/fonts/elegant_font/HTML\ CSS/fonts/ElegantIcons.ttf') format('truetype'), url('/assets/fonts/elegant_font/HTML\ CSS/fonts/ElegantIcons.svg#ElegantIcons') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'aspira';
  src: url('/assets/fonts/aspira/aspira-webfont.eot');
  src: url('/assets/fonts/aspira/aspira-webfont.eot?#iefix') format('embedded-opentype'), url('/assets/fonts/aspira/aspira-webfont.woff2') format('woff2'), url('/assets/fonts/aspira/aspira-webfont.woff') format('woff'), url('/assets/fonts/aspira/aspira-webfont.ttf') format('truetype'), url('/assets/fonts/aspira/aspira-webfont.svg#aspirademo') format('svg');
  font-weight: normal;
  font-style: normal;
}
[data-icon]:before {
  font-family: 'ElegantIcons';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  font-family: 'Nunito', Helvetica, Arial, Lucida, sans-serif;
}
a {
  text-decoration: none;
  color: black;
}
h2 {
  font-size: 2.8rem;
  padding-bottom: 10px;
  border-bottom: 1px solid black;
}
header span {
  font-family: "ElegantIcons";
}
.top-header {
  font-size: 1.2rem;
  font-weight: 600;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 2px solid black;
}
.top-header .mail {
  text-align: center;
  display: block;
}
.top-header ul {
  display: none;
}
.main-header {
  height: 75px;
  border-bottom: 2px solid black;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.main-header .logo img {
  height: 40px;
}
.main-header nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
}
.main-header nav ul {
  display: none;
}
.home .main-img {
  background-image: url(../assets/images/main_img.jpg);
  background-position: center;
  background-repeat: no-repeat;
  height: 390px;
  background-size: cover;
  background-color: rgba(255, 255, 255, 0.69);
  background-blend-mode: screen;
  text-align: center;
  padding: 0 6%;
}
.home .main-img h1 {
  padding-top: 120px;
  font-size: 3.3rem;
}
.home .main-img p {
  padding-top: 20px;
  font-size: 1.8rem;
}
.home .main-img a {
  display: block;
  padding-top: 135px;
}
.home .container {
  position: relative;
  margin: 0 auto;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.home .container .top-cards {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
}
.home .container .top-cards .card {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-top: 30px;
}
.home .container .top-cards .card img {
  height: 32px;
}
.home .container .top-cards .card .text-container {
  padding-left: 5%;
}
.home .container .top-cards .card .text-container h3 {
  font-size: 2.4rem;
}
.home .container .top-cards .card .text-container p {
  padding-top: 10px;
  line-height: 1.7;
  font-size: 1.6rem;
}
.home .container .categories {
  order: 1;
  padding-top: 100px;
}
.home .container .categories .card {
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 1px;
  margin-bottom: 30px;
  border: 1px solid black;
}
.home .container .categories .mat {
  background-image: url(../assets/images/Yogamat_categories.jpg);
}
.home .container .categories .mala {
  background-image: url(../assets/images/Mala_beads_categories.jpg);
}
.home .container .categories .egg {
  background-image: url(../assets/images/Yoni_egg_categories.jpg);
}
.home .container .categories .special-deal {
  background-image: url(../assets/images/Special_deal_categories.jpg);
}
.home .container .new-products {
  text-align: center;
  padding-top: 100px;
}
.home .container .new-products .cards-container {
  padding-top: 70px;
}
.home .container .new-products h3,
.home .container .new-products p {
  display: none;
}
.home .container .new-products .card {
  padding: 30px 0;
  border-bottom: 1px solid lightgray;
}
.home .container .new-products .card img {
  max-width: 100%;
}
.home .container .reference {
  order: 1;
}
.home .container .main-video img {
  max-width: 100%;
}
.home .container .best-selling {
  text-align: center;
  padding-top: 100px;
}
.home .container .best-selling .cards-container {
  padding-top: 70px;
}
.home .container .best-selling h3,
.home .container .best-selling p {
  display: none;
}
.home .container .best-selling .card {
  padding: 30px 0;
  border-bottom: 1px solid lightgray;
}
.home .container .best-selling .card img {
  max-width: 100%;
}
.home .container .who-are-you {
  order: 1;
}
