footer {
    background: black;
    color: white;
    padding-left: 20%;
    font-size: 1.4rem;
    li::before {content: "•"; color: white;
        display: inline-block; width: 1em;
        margin-left: -1em}

    .card-container {
        width: 85%;
        padding-bottom: 30px;

        .card {
            .flex(row, space-between);
            @media @desktop {
                width: 23.5%;
            }
        }
        .small-card {
            padding-right: 35%;
        }
        @media @desktop {
            .flex(row, space-between);
        }             
    }

    h4, li{
        padding-top: 10px;
    }

    .small-card, .address, .payment-methods {
        padding-top: 20px;
    }

    a {
        color: white;
    }

    .address {
        width: 100%;
        
        flex-wrap: wrap;
        h4 {
            width: 100%;
        }
        .small-card {
            display: inline-block;
            padding-right: 30px;
        }
    }

    .payment-methods {
        width: 100%;
        flex-wrap: wrap;
        h4 {
            padding-left: 5%;
            width: 100%;
        }
        .small-card {
            padding-right: 15px;
        }
    }
    p {
        width: 80%;
        text-align: center;
        padding: 30px 0;
        border-top: 1px solid white;
    }
}